
.reng {
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: right;
}


.but{

    display: flex;
    justify-content: center;

}

.hummy {
    display: flex;
    position: relative;
    top: 500px; /* Moves it 50px down */
    justify-content: center;

}
